/* svg.widget-svg {
    width: 15px !important;
} */
/* Blog */
.blog-list{
    margin: 0 auto;
    background-color: #FFFAD7;
    box-shadow: 0 0 6px 3px #ccc;
    border-radius: 10px;
}
.blog-list .blog-items{
    padding: 0 0 8px 0;
    border-bottom: 2px solid #379237;
}
.blog-list .blog-items .blog-items-img{
    max-width: 60%;
    padding: 0;
}
.blog-list .blog-detail{
    padding: 0 8px 0 0;
}
.blog-list .blog-detail button{
    border-radius: 5px;
    float: right;
    border: none;
    color: #fff;
    background-color: #54B435;
    box-shadow: 0 0 4px 2px #B3FFAE;
}
/*  */